p {
  font-family: Source Sans Pro;
  /* border: 2px red solid; */
}

body {
  border: 20px #bdc3c7 solid;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.date {
  margin: 2%;
  color: #3498db;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.head {
  margin: 2%;
  color: #2c3e50;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
}

.para1 {
  margin: 2%;
  padding-left: 1%;
  border-left: 5px #bdc3c7 solid;
}

.para2 {
  margin: 2%;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
